 body{
 	margin: 0px;
 	font-family: 'Rozha One', serif;
 }



 #logo{
 	text-transform: uppercase;
 	background-color: #6AD2F3;
 	text-align: center;
 	color: #FFF;
 	padding-top: 1px;
 	padding-bottom: 40px;
 	height: 60px;

 }

 section{
	background-image: url(img/large1.jpg);
	background-size: 100%;
	width: 100%;
	background-repeat: no-repeat;
	height: 550px;
	margin-top: -20px;
	display: inline-block;
}

.cuadro{
	background: #FFF;
	width: 550px;
	height: 180px;
	margin-top: 50px;
	padding-left: 20px;

}

#reto{
	
	float: left;
	margin-left: 70px;
	padding-bottom: 30px;
	
}

#reto p{
	color: #8B8D8C;
}

#reto img{
	width: 100px;
	border-radius: 50px;
	margin: 50px;
}

#reto #text{
	margin-left: 200px;
	width: 200px;
	margin-top: -150px;
}

.container{
	width: 35%;
	height: 220px;
	float: right;
	text-align: center;
	margin-top: 60px;
	margin-right:150px;;
}

.container textarea{
	border: none;
	border-bottom: 3px solid #6AD2F3; 
	padding-bottom: 70px;
	width: 90%;
	display: block;
	margin: 0 auto;
}

.container #contador{
	color: #000;
	background-color: #FFF;
	border-radius: 50px;
	margin-left: 450px;
	font-weight: border;
	text-align: center;
	padding: 10px;
}

.container button{
	color: #FFF;
	background-color:#6AD2F3; 
	border: none;
	width: 100px;
	padding: 10px;
	margin-top: -30px;
}




#contenedor {
	border-radius: 0.4px;
	width: auto ;
	height: auto;
	color: #4E4D53;
	text-align: left;
	margin-top: 100px;
	margin-left: -650px;
	
}


#contenedor div {
	padding: 1em 0.5em;
	margin-bottom: 2em;
	outline: 0.1em solid #E5E3F2;
	background-color: #FFF;
	text-align: left;


}

